{% extends 'base_file.html' %}
{% block title %}New User{% endblock title %}
{%block content %}
{% load static %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST">
  {% csrf_token %}
          <div class="container">
            <h1>Sign Up</h1>
            <label for="email"><b>Email</b></label>
            {% comment %} <input type="text" placeholder="Enter Email"  id="email" name="email" required> {% endcomment %}
            {{ form.email }}

            <label for="name"><b>Name</b></label>
            {% comment %} <input type="text" placeholder="Enter full name"  id="name" name="username" required> {% endcomment %}
            {{ form.username }}

            <label for="number"><b>Mobile Number</b></label>
            {% comment %} <input type="text" placeholder="Enter mobile number"  id="number" name="phone_number" required> {% endcomment %}
            {{ form.phone_number }}

            <label for="location"><b>Location</b></label>
            {% comment %} <input type="text" placeholder="Enter location"  id="location" name="city" required> {% endcomment %}
            {{form.city}}

            <label for="pwd"><b>Password</b></label>
            {% comment %} <input type="password" placeholder="Enter passowrd"  id="pwd" name="password" required> {% endcomment %}
            {{form.password}}

            {{form.user_type}}

            <!-- <div><button type="submit" class="registerbtn">Register</button></div> -->
            <input class="registerbtn" type="submit" value="Register">
        </div>

</form>
{% endblock content %}
