{% extends 'base_file.html' %} {% block title %}New User{% endblock title %}
{%block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST">
  {% csrf_token %} 
  <label for="username">Enter your username: </label>
  <br>
  {{form.username}}
  <br>
  <label for="email">Enter your email: </label>
  <br>
  {{form.email}}
  <br>

  <label for="phone_number">Enter your phone number</label>
  <br>
  {{form.phone_number}}
  <br>

  <label for="city">Enter City</label>
  <br>
  {{form.city}}
  <br>

   <label for="password">Enter your password: </label>
  <br>
  {{form.password}}
  <br>
  {{form.user_type}}
  <br>

  <input type="submit" value="Sign Up" />
</form>
{% endblock content %}
