{% extends 'home/base_file.html' %} {% block title %}New User{% endblock title %}
{%block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST">
  {% csrf_token %} 
    <div class="container">


        <div class="imagediv">
            <img src="regis_bg.png">
            <div class="newTextFlex">
                <p class="ohh">Ohh</p>
                <h1>New Here?</h1>
            </div>
        </div>

        <div class="entryFlex">
            <div>
                <h2>Sign Up</h2>
            </div>
            <div class="email">
                <p>Email</p>
                {% comment %} <input type="text" class="textbox"> {% endcomment %}
                {{ form.email }}
            </div>

            <div class="name">
                <p>Full Name</p>
                {% comment %} <input type="text" class="textbox"> {% endcomment %}
                {{ form.username }}
            </div>

            <div class="number">
                <p>Mobile Number</p>
                {% comment %} <input type="text" class="textbox"> {% endcomment %}
                {{ form.phone_number }}
            </div>

            <div class="Location">
                <p>Location</p>
                {% comment %} <input type="text" class="textbox"> {% endcomment %}
                {{ form.city }}
            </div>

            <div class="password">
                <p>Password</p>
                {% comment %} <input type="text" class="textbox"> {% endcomment %}
                {{ form.city }}
            </div>

            <div class="radio">

                  {% comment %} <div> <input type="radio" name="type" value="farmer"> <label>Farmer</label></div>
                  <div> <input type="radio" name="type" value="consumer"><label>Consumer</label></div> {% endcomment %}

                  {{ form.user_type }}

            </div>
            {% comment %} <div class="signupButton" ><a href="login.html" class="signUp">Sign Up</a></div> {% endcomment %}
            <input class="signupButton" type="submit" value="Login">
        </div>

    </div>


</form>
{% endblock content %}
