{% extends 'sales/base_file.html' %}{% block title %} All products page 
{% endblock title %} {%block content %}

{% if products %}
{% for product in products  %}
        <div class="gallary">
            <div class="content">
                <a href="{% url 'productDetail' product.id %}"><img src="{{product.image.url}}" alt="{{product.crop_name}}"></a>
                <h3><a href="{% url 'productDetail' product.id %}"> {{product.crop_name}}</a></h3><br>
                <h2>Rs. {{product.cost}} /Kg</h2>  <br>
            </div>
          </div>
{% endfor %}
{% else %}

No products to display currently

{% endif %}

{% endblock content %}
