<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div class="orderContainer">
            <div class="orderBox">
                <img src="{{order.crop.image.url}}">
                <div class="insideBox">
                    <div class="details">
                        <p class="b">Name : {{order.crop.crop_name}}</p>
                        <p class="c">Rs. 40/Kg</p>
                    </div>
                    <div class="detail">
                        <p class="d">Ordered on 10/01/2023</p>
                        <p class="e">Delivered on 12/01/2023</p>
                        <p class="f">Your item has been delivered.</p>
                    </div>
                    <button class="viewDetails">View Details</button>
                </div>
            </div>

        </div class="orderBox">
                <img src="{{order.crop.image.url}}">
                <div class="insideBox">
                    <div class="details">
                        <p class="b">Name : {{order.crop.crop_name}}</p>
                        <p class="c">Rs. 40/Kg</p>
                    </div>
                    <div class="detail">
                        <p class="d">Ordered on 10/01/2023</p>
                        <p class="e">Delivered on 12/01/2023</p>
                        <p class="f">Your item has been delivered.</p>
                    </div>
                    <button class="viewDetails">View Details</button>
                </div>
            </div>

        </div>
    
</body>
</html>