

		
	body {
		background-color:#fff;
		font-family: Verdana;
		text-align: center;
	}

	
	#form {
		background-color: #CEF046;
		max-width: 500px;
		margin: 50px auto;
		padding: 30px 20px;
		box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
		border-radius: 17px;
		height: 800px;
		margin-top: 4%;		
	}
#label-name{
	margin-top: 10%;
}
	
	.form-control {
		text-align: left;
		margin-bottom: 11px;
        border-radius:5px;
		/* margin-top: 8%; */

	}
    .form-control-description {
		text-align: left;
		margin-bottom: 25px;
        border-radius:5px;

	}

    
	.form-control-image {
		text-align: left;
		margin-bottom: 15px;
        border-radius:5px;
	}
    
    
	.form-control-create {
		text-align: left;
		margin-bottom: 35px;
        border-radius:5px;
	}
    
    
	.form-control label {
		display: block;
		margin-bottom: 10px;
	}
    
    .form-control-description label {
		display: block;
		margin-bottom: 10px;
	}

    .form-control-image label {
		display: block;
		margin-bottom: 10px;
	}
    
    
	
	.form-control input,
	.form-control select,
	.form-control textarea {
		border: 1px solid #FFFFF0;
		border-radius: 2px;
		font-family: inherit;
		padding: 10px;
		display: block;
		width: 350px;
        border-radius:8px;
	}
    
    .form-control-description input,
	.form-control-description select,
	.form-control-description textarea {
		border: 1px solid #FFFFF0;
		border-radius: 2px;
		font-family: inherit;
		padding: 10px;
		display: block;
		width: 350px;
        border-radius:8px;
        height: 250px;
	}
    
    .form-control-image input,
	.form-control-image select,
	.form-control-image textarea {
		border: 1px solid #FFFFF0;
		border-radius: 2px;
		font-family: inherit;
		padding: 5px;
		display: block;
		width: 350px;
        border-radius:8px;
	}



	
	.form-control input[type="radio"],
	.form-control input[type="checkbox"] {
		display: inline-block;
		width: 402px;
        border-radius:5px;
	}
    
	.form-control-description input[type="radio"],
	.form-control-description input[type="checkbox"] {
		display: inline-block;
		width: 402px;
        border-radius:5px;
	}

    .form-control-image input[type="radio"],
	.form-control-image input[type="checkbox"] {
		display: inline-block;
		width: 402px;
        border-radius:5px;
         text-decoration-color: aqua;
	}
    
    
    
	
	button {
		background-color: paleturquoise;
		border: 1px solid #000000;
        text-decoration-color:blue;
		border-radius: 2px;
		font-family: inherit;
		font-size: 15px;
		display: block;
		
		margin-top: 30px;
		margin-bottom: 10px;
        text-align: center;
		width: 150px;
        height: 35px;
        left: 517px;
        top: 858px;
        border-radius:15px;
	}
    
    
	* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4% 10%;

  }

.logo {
  position: relative;
  width: 10vh;
  height: 5vh;
  
}
.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  box-sizing: border-box;
  background: #dbf76b;
}

#Search_box{
  box-sizing: border-box;
  width: 100vh;
  height: 5vh;
  left: 261px;
  top: 27px;

  font-size: 2vh;
  line-height: 100%;

  background: #E0DEDE;
  border: .3px solid #000000;
  border-radius: 35px;
  
  text-align: center;
}
.s_icon{
 
  width: 3vh;
  height: 3vh;
 
}
.prof{   
  position: relative; 
  width: 3vh;
  height: 3vh;
  align-self: flex-end;
  border: 0;
}

.searchflex{
display: flex;
justify-content: space-evenly;
}

h1{
position: absolute;
width: 453px;
height: 150px;
left: 520px;
top: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 75px;
text-align: center;
text-transform: uppercase;
margin-top: 7%;
/* margin-bottom: 6%; */

}
