* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    background-image: url('./images/bg_new.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.loginButton {

    padding-left: 20px;
    padding-right: 20px;
    min-width: 10.25%;
    padding: auto;
    height: 53px;
    background-color: rgba(125, 128, 7, 0.36);
    border-radius: 26.5px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    border-width: 0;

    cursor: pointer;

    /* text-align: center; */
    text-transform: capitalize;

    color: #000000;

}

.loginButton:hover {
    background-color: rgb(255, 145, 0);
    transition: top 0.09s ease-in;
}

.textBox {

    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textBox h1 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 105px;
    text-align: center;
    text-transform: capitalize;

}

.textBox p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;

    color: #1E3600;
}

.readmoreButton {


    padding-left: 20px;
    padding-right: 20px;
    min-width: 10.25%;
    padding: auto;
    height: 53px;
    background-color: rgba(125, 128, 7, 0.36);
    border-radius: 26.5px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    border-width: 0;

    cursor: pointer;

    /* text-align: center; */
    text-transform: capitalize;

    color: #000000;
}

@media(max-width :700px) {
    .textBox h1 {
        padding: 0%;
        font-size: 20px;
    }

    .textBox p {
        font-size: 8px;
    }

    .readmoreButton {
        width: 200px
    }
}

.readmoreButton:hover {
    background-color: rgb(255, 145, 0);
    transition: top 0.09s ease-in;
}




/* Registration.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

body {
    /* overflow: hidden; */
    background: #FAFD85;
}



.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vw;
    height: 95vh;
    display: flex;

    border-width: 2px;
    border-color: black;
    background: #ffffff;
    box-shadow: 0px 14px 11px -2px rgba(0, 0, 0, 0.22);
    border-radius: 54px;
}

.imageDiv {
    position: relative;
    top: 0%;
    left: 0%;
    width: 45%;
    height: 100%;
}

.imageDiv img {
    position: relative;
    top: 0%;
    left: 0%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 54px 0px 0px 54px;


}

.newTextFlex {
    /* background-color: rgb(71, 169, 255); */
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 37%;
    left: 18%;
    gap: 0.5vh;
}

.ohh {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vw;

    text-transform: capitalize;

    color: #223D00;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;

    text-align: center;
    text-transform: capitalize;

    color: #223D00;
}

.entryFlex {
    position: relative;
    top: 5%;
    left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #5aa2ff; */
    width: 50%;
    height: 90%;
    justify-content: space-between;


}

.textbox {
    border: 0;
    height: 6vh;
    width: 20vw;



    background: #D9D9D9;
    border-radius: 8px;
}

.radio {
    font-weight: 300;
    font-size: 1vw;
    background-color: #FAFD85;
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-around;
}

.signupButton {

    min-width: 5vh;
    text-align: center;
    width: 5vw;
    padding: 2%;
    background: linear-gradient(270deg, rgba(158, 255, 0, 0.61) 0%, rgba(0, 255, 112, 0.61) 105.71%);
    border-radius: 26px;


}

a {
    color: black;
    text-decoration: none;
}